main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
* {
    font-family: "Montserrat", serif;
}

.ProductsFrase {
    font-family: "Poppins", sans-serif;
}

.Principal-Image {
    width: 100%;
    height: 90vh;
    filter: brightness(35%);
    object-fit: cover;
    margin-top: 83px;
}

.image_text {
    text-align: center;
    position: absolute;
    color: var(--ColorLetras);
    backdrop-filter: blur(2px);
    bottom: 80%;
    width: 100%;
}

.Products {
    justify-content: center;
    align-items: center;
    margin: 35px 16px;
}

.individual-product {
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.164);
    transition: all ease-in-out 250ms;
    border-radius: 0.5em;
    height: 295px;
    margin: 6% 2%;
    background-color: var(--ColorMenu);
    color: aliceblue;
}

.individual-product:hover{
    transform: scale(1.1);
}

.product-information {
    margin: 10px 10px 10px 16px;
}
.product-name {
    margin: 0px 0px;
    font-size: 18px;
}

.product-type {
    font-size: 16px;
}

.img {
    border-radius: 0.5em 0.5em 0em 0em;
    width: 100%;
    height: 190px;
    object-fit: contain;
    background-color: white;
}
.img--Suplements{
    object-fit: fill;
}
.title{
    text-align: center;
    margin: 0;
}

.carrusel-box{
    width: 80%;
    height: 60%;
    margin: 10px auto 0;
    overflow: hidden; 

}
.outstanding{
    font-size: 24px;
}
.carrusel-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 12s infinite alternate ease-in-out;
}
.slide{

    width: 100%;
    list-style: none;
    position: relative;
    margin: 0;
}

.carrusel-text{
    position: absolute;
    text-align: center;
    top: 56%;
    right: 58%;
    font-size: 13px;
}
.descripcion{
    width: 250%;
}
.carrusel-img{
    width: 100%;
    transition: 200ms linear;
}
.carrusel-img:hover{
    transform: perspective(220px) rotateY(-0.5deg);
}
@keyframes slide {
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}
    
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}

    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}
}
@media (min-width:990px) {
    .Products {
        display: flex;
        flex-wrap: wrap;
        max-width: 1500px;
    }

    .individual-product {
        width: 23%;
        margin: 14px;
    }

    .Principal-Image {
        width: 100%;
        height: 25vh;
        margin-top: 100px;
    }

    .image_text {
        bottom: 75%;

    }
    .outstanding{
        margin-top: 60px;
    }
    .page-footer {
        bottom: 0;
        right: 0;
        left: 0;
    }

    .copyright{
        margin-top: 14px;
    }
    
    .Privacity, .services{
        margin-top: 18px;
    }
    .carrusel-box{
        width: 1000px;
        height: 600px;

    }
    .carrusel-text{
        top: 60%;
        right: 55%;
        font-size: 22px;
    }
    .carrusel-img{
        filter: drop-shadow(0.5rem 0.5rem 0.5rem rgb(70, 69, 69));
        transition: 200ms linear;
    }
    .carrusel-img:hover{
        transform: scale(1.02);
        filter: drop-shadow(0.2rem 0.2rem 0.5rem rgb(70, 69, 69));
    }
}