
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}
* {
    font-family: "Montserrat", serif;
}
.BotonUP.hidden {
    opacity: 0;
    pointer-events: none; 
}
.BotonUP {
    position: sticky;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    transition: opacity 0.5s ease;
    margin-bottom: 30px;
}
.individualPerson{
    margin-right: 0px;
}
.ImportantInfo{
    margin-top: 0px;
}
.BImage{
    border-radius: 1.5rem;
    width: 300px;
}
.historyContainer{
    background-color: #3277c5;
    color: aliceblue;
    width: 100%;
    padding: 20px 0;
}
.generalInfo{
    margin-top: 40px;
}
.ImgCard {
    height: 220px;
    object-fit:cover;
}

.Photo {
    width: 150px;
    height: 150px;
}

.AboutInfo{
    text-align: justify;
}


@media (min-width:990px) {
    .equal-height {
        height: 130%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .BotonUP {
        display: none;
    }
    .equal-height:nth-of-type(3) {
        height: 100px;
    }

    .col.s12.l5:nth-of-type(2) {
        width: 50%;
        margin: 0;
    }
}