:root {
    --ColorHeader: #3277c5;
    --ColorMenu: #004c70;
    --ColorLetras: aliceblue;
}
.nav-wrapper .active a {
    text-decoration: underline; 
    color: rgb(231, 231, 231);
    font-weight: bold;
    scale: 1.2;
}

.Header{
    padding: 0 30px;
}
.logo-img {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.Principal-Image {
    width: 100%;
    height: 30vh;
    filter: brightness(35%);
    object-fit: cover;
}
.Menu-Logo {
    margin-right: 35px;
    width: 200px;
    filter: invert(1);
    filter: invert(1) brightness(1000%) contrast(100%);
}

.nav__things {
    display: flex;
    align-items: center;
    width: 70%;
}

.title {
    font-size: 24px;
}
.logo-text{
    font-size: 20px;
    margin-left: 7px;
}

.nav-wrapper .brand-logo{
    display: flex;
    align-items: center;
}
.logo{
    margin-bottom: 8px;
}
.navbar {
    background-color: var(--ColorMenu);
    height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    position: fixed;
    width: 60%;
    height: 100vh;
    background-color: #004c70e3;
    top: 7%;
    right: -113%;
    transition: ease-in-out .3s;
}

.list {
    display: flex;
    margin: 50px 0;
    line-height: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-background {
    background-color: #004a70;
}

.sidenav {
    background-color: #01527ad0;
}

.brand-logo .logo {
    height: 40px;
    margin-right: 10px;
}

.Menu-Logo {
    margin-left: 50px;
    margin-top: 50px;
    width: 200px;
    filter: invert(1) brightness(1000%) contrast(100%);
}
.sidenav .close-sidenav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #044f72;
    height: 56px;
}

.sidenav .close-sidenav i {
    font-size: 36px;
}

.Link{
    margin-top: 20px;
}

.sidenav a.Link {
    font-size: 20px;
}

.page-footer {
    background-color: var(--ColorMenu);
    padding: 14px 10px;
}

.footer-Icon {
    justify-content: space-between;
    width: 25px;
    height: 25px;
    transition: all ease-in-out 300ms;
}
.footer-Icon:hover {
    transform: scale(1.2);
}

.titleandBicycle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Ftitle--name {
    margin-left: 15px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.social-media {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.conditions {
    display: flex;
    text-align: center;
}

.footer-info {
    padding: 10px 20px 20px 20px;
}


.MenuDarkView {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.contact-info-item {
    display: flex;
    align-items: center;
}

.info-text {
    margin-left: 15px;
    width: 100%;
    color: var(--ColorLetras);
    margin-top: 10px;
}

.MenuDarkView.active {
    opacity: 1;
    pointer-events: auto;
}

.Ftitle,
.info-text {
    color: var(--ColorLetras);
}

.Ftitle {
    margin-top: 8px;
    font-size: 26px;
    font-weight: 500;
}

.footer-Links {
    list-style: none;
}

.text--conditions{
    width: 100%;
}
.LinksContainer a {
    color: var(--ColorLetras);
    text-decoration: none;
    line-height: 30px;
}

.LinksContainer {
    padding: 0;
}

body {
    margin: 0 auto;
}

@media (min-width:990px) {

    .link {
        text-decoration: none;
        color: var(--ColorLetras);
        font-size: 19px;
    }

    .nav-icon_arrow {
        display: none;
    }

    .link:hover {
        transform: scale(1.1);
        transition: all ease-in-out 250ms;
        color: rgb(10, 0, 0);
        text-decoration: underline;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navLinks {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: 0;
        top: -1.5%;
        background-color: transparent;
        width: 60%;
        height: auto;
        margin-top: 27px;
        margin-right: 7px;
        transition: none;
    }

    .list {
        margin: 0 13px;
    }

    .Hamburger-menu {
        display: none;
    }

    .Menu-Logo {
        display: none;
    }

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nav-icon {
        display: none;
    }

    .image_text {
        font-size: 22px;
        bottom: 75%;
    }

    .nav__logo {
        width: 60px;
        height: 60px;
        padding-bottom: 10px;
    }

    .title--nav {
        padding-top: 1%;
        font-size: 23px;
    }

    .Icon--burger {
        display: none;
    }

    .Icon-container {
        display: none;
    }
    .page-footer__info{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .text--conditions{
        width: 100%;
    }
    .footer-info--pages-links{
        margin-left: 110px;
    }
    .footer-info {
        width: 330px;
        padding: 20px;
    }
    .info-text--factory-descripcion{
        margin-left: 0;
    }
    .LinksContainer .footer-Links a:hover{
        transform: scale(1.1);
        transition: all ease-in-out 250ms;
        color: rgb(10, 0, 0);
        text-decoration: underline;
    }
}